@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  line-height: 24px;
  box-sizing: border-box;

}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 30px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}

.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}
.clear {
  clearfix: both;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  display: inline-block;
}

.heart {
  margin-left: 20px;
}

.acronym {
  padding: 0 15px;
}

.header {
  background-color: rgb(36, 89, 120);
  padding-top: 14px;
  color: white;
}

.logo {
  padding-left: 16px;
  display: inline-block;
}

.logo img {
  width: 65%;
}

.user-info {
  display: inline-block;
  text-align: right;
}
.user-info li {
  text-decoration: none;
  display: inline-block;
}

.user-info a {
  color: white;
  text-decoration: none;
}

.user-info img {
  width: 40px;
  vertical-align: middle;
}

.search-header {
  display: inline-block;
}
.search-box {
  display: inline-block;
  padding: 0 20px;
}

.search-container {
  display: block;
  background-color: rgba(0,0,0,0.1);
}

.search-box [type=submit] {

}

.search-box input[type=search] {
  height: 30px;
  background-color: transparent;
  border: 1px solid  rgba(255,255,255,0.2);
  padding: 5px;
  padding-left: 15px;
  display: block;
  width: 100%;
  outline: 0;
}
.hero-container {
  background-image: url(images/city-scape.svg);
  background-size: cover;
  height: 400px;
}

.hero {
  top: 125px;
  right: 785px;
  position: absolute;
  width: 33%;
}
