@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  line-height: 24px;
  box-sizing: border-box;

}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 30px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}

.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}
.clear {
  clearfix: both;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  display: inline-block;
}

.heart {
  margin-left: 20px;
}

.acronym {
  padding: 0 15px;
}

.header {
  background-color: rgb(36, 89, 120);
  padding-top: 14px;
  color: white;
}
.user-interaction {
  background-color: rgb(32, 101, 136);
  color: white;
  padding-left: 24px;
  padding-top: 12px;
}
.logo-container {
  display: inline-block;
  width: 10%;
}

.logo-container img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.search-container {
  display: inline-block;
  width: 70%;
  background-color: rgba(0,0,0,0.1);
  height: 44px;
  vertical-align: middle;
}

.search-container input[type="search"] {
  width: 94%;
  background-color: rgba(0,0,0,0.1);
  height: 46px;
  font-size: 17px;
  vertical-align: text-bottom;
  padding: 0 0 0 15px;
  border: 1px solid rgba(255,255,255,0.2);
}

.search-container button {
    height: 44px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    width: 5%;
    width: 47px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 0;
}
.access-container {
  display: inline-block;
}

.access-container img {
  width: 30%;
  vertical-align: middle;
}

.access-container li {
  display: inline-block;
}

.access-container li a {
  text-decoration: none;
  color: white;
}

.access-container ul {
  list-style: none;
  padding-left: 0;
}

.hero-container {
  background-image: url(images/city-scape.svg);
  background-size: cover;
  height: 400px;
}

.hero {
  top: 125px;
  right: 785px;
  position: absolute;
  width: 33%;
}
