
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  letter-spacing: .5px;
}
.nav-menu {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px;
  font-weight: 300;
  font-size: 14px;
}

.nav-menu a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.acronym {
  padding-left: 15px;
}
.top-left {
  display: inline-block;
}

.top-links {
  float: right;
}

.top-links li {
  display: inline-block;
  margin-right: 24px;
}

.sub-nav {
  vertical-align: middle;
  display: table;
  width: 100%;
  white-space: nowrap;
  padding: 23px 0 23px 0;
  background-color: rgb(32, 101, 136);
}

.sub-nav > div {
  display: table-cell;
}

.header-logo {
  vertical-align: middle;
  width: 12%;
  padding-right: 16px;
}

.header-logo img {
  width: 90%;
  padding-left: 16px;
}

.header-search {
  width: 70%
}

.header-search input[type="search"] {
  width: 100%;
  height: 40px;
}

.header-links {
  width: 20%;
  color: white;
  font-weight: 200;
}

.header-links li:first-child {
  padding-left: 42px;
}

.header-links li {
  width: 5%;
  display: inline;
  text-align: right;

}

.header-links li a {
  text-align: right;
  color: white;
  text-decoration: none;
}

.header-links img {
  vertical-align: middle;
  width: 16%;
}
